FifteenMay/config.py
FifteenMay/*.session
FifteenMay/*.session-journal
FifteenMay/config.ini
*.pyc
.project
.pydevproject
.directory
FifteenMay/modules/helper_funcs/temp.txt
start-3.6.bat
*.session
kangsticker.png
venv
env
FifteenMay.session-journal
*.exe
*.png
env/
*.session-journal
config.ini
*.session-journal
*.log
shell_output.txt
.vs
FifteenMay/elevated_users.json
